div.float {

	float: left;

}
.calendar { 
    width: 150px; 
    font: normal 9px verdana, sans-serif; 
    #background: #cbe200; 
    background-color: transparent;
    height: 162px; 
    border: 1px;
    float: left;
} 

.calhead { 
    width: 150px; 
    border-bottom: 1px solid #000; 
    margin-bottom:5px; 
    text-align:center; 
    height:18px; 
} 

.calhead a { 
    display: block; 
    color: #ffffff; 
    text-decoration: none; 
    padding: 3px 
} 

.calhead a:hover { 
    background: #63a3e3;
} 

.right, .left { 
    width: 20px; 
    height: 18px; 
    background: #63a3e3; 
} 

.right { 
    float: right 
} 

.left { 
    float: left; 
} 

.middle { 
	margin: 0px 20px; 
	padding: 0 auto; 
} 

.middle span { 
    font: bold 12px verdana, sans-serif; 
} 

.caldays { 
    width: 150px; 
    margin: 2px 0px;padding: 2px 0px; 
} 

ul.days { 
    padding: 0px; 
    margin: 0px; 
    list-style-type: none; 
} 

ul.days li { 
    background: #63a3e3; 
    float: left; 
    display: in-line; 
    border: 1px solid #63a3e3; 
    width: 17px; 
    height: 13px; 
    margin: 1px; 
    text-align: center; 
    padding: 2px 0px 0px 0px; 
} 

.caldates { 
    width: 148px; 
    margin:0 auto; 
} 

ul.dates { 
    padding: 0px; 
    margin: 0px; 
    list-style-type: none;     
} 

ul.dates li { 
    background: #fff; 
    float: left; 
    display: in-line; 
    border: 1px solid #63a3e3; 
    width: 17px; 
    height: 13px; 
    text-align: center; 
    margin: 1px; 
    padding: 2px 0px 0px 0px; 
} 

ul.dates li:hover { 
    background: #63a3e3; 
    cursor: pointer;
} 

ul.dates li a{ 
  color:#000; 
  text-decoration:none; 
} 

.blank { 
    background-color: transparent;
} 

.today { 
    float: right; 
    margin-right: 5px; 
    position: relative; 
    right: 0px; 
    bottom: 0px; 
} 

.today a { 
    text-decoration: none; 
    font: bold 8px verdana, sans-serif; 
    position: relative; 
    left: 0px; 
    top: 0px; 
} 
